/Solucion_Codigo/Problemas1al5/nbproject/private/
/Solucion_Codigo/Probelma1-SistemadeVentas/nbproject/private/
/Solucion_Codigo/Problema1-SistemadeVentas/nbproject/private/
/Solucion_Codigo/Problema-1_SistemadeVentas/nbproject/private/
/Soluciones_Codigo/build/
/Soluciones_Codigo/nbproject/private/
